<h1 mat-dialog-title>Add Counter node</h1>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput
           placeholder="Enter node name"
           formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput
           placeholder="Enter metric name"
           formControlName="metricName">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="null">Cancel</button>
  <button mat-raised-button [disabled]="form.invalid" [mat-dialog-close]="form.value">Create</button>
</mat-dialog-actions>
